.review-form-card {
    margin-top: 49px;
    margin-bottom: 29px;
    height: 175px;
    
   padding: 17px;
   
   

   



}

/* .input-review {
    margin-top: 24px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
} */


.input-review input{
    margin-top: 24px;
    background: #FFFFFF; 
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    color: #9E9E9E ;
    height: 50px;
}


.review-submit {
    height: 50px;
    width: 334px;
    left: 397px;
    top: 91px;
    
    margin-bottom: 28px;
    margin-top: 17px;
    
    
}

.review-submit button {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    mix-blend-mode: normal;
    
   
    
}


