.filter {
    
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    Height:60px;
    padding: 5px 20px;
   
}

.movie-filter-select__single-value {

    color: #fff !important;
}

.movie-filter-select__control {
    background-color: #6C6C6C !important;
    width: 260px;
    height: 50px;
    border-radius: 10px !important;
    color: #fff;
   
   
}

.movie-filter-select__menu {
    background-color: #6C6C6C  !important;
    width: 260px !important;   
}



.movie-filter-select__placeholder {
    color: #9E9E9E !important;
  }

  .movie-filter-select__indicator-separator {
    display: none;
  }



  @media (min-width: 320px) {

    .filter {
        width: 300px;
        height: 60px;
    }
  }

  @media (min-width: 576px) {

    .filter {
        width: 536px;
        height: 60px;
    }
  }

  @media (min-width: 768px) {

    .filter {
        width: 588px;
        height: 60px;
    }
  }


  @media (min-width: 992px) {

    .filter {
        width: 872px;
        height: 60px;
    }
  }

  @media (min-width: 1200px) {

    .filter {
        width: 1119px;
        height: 60px;
    }
  }

  @media (min-width: 1400px) {

    .filter {
        width: 1218px;
        height: 60px;
    }
  } 