.movie-details-title-container h1 {
    font-weight: bold;


}

.movie-details-content {
    padding: 0px;
}

.details-card {

    background: #6C6C6C;
    padding: 40px;
    margin: 0;


}


.img-container img {

    width: 500px;
    height: 314.23px;
}



.card-bottom-container {
    padding: 15px 20px 30px;

}

.card-bottom-container h6 {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}


.card-bottom-container span {

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFC700;
    mix-blend-mode: normal;
}

.card-bottom-container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}



@media (min-width: 320px) {


    .details-card {

        padding: unset;
        

    }

    .img-container img {

        margin-top: 20px;
        width: 235px;
        height: 163px;
       

    }


}

@media (min-width: 576px) {
    
    .img-container img {

        margin-top: 20px;
        width: 459px;
        height: 311px;

    }


}


@media (min-width: 768px) {
    
    .img-container img {

        margin: 20px;
        width: 632px;
        height: 382.48px;
       

    }


}


@media (min-width: 992px)  {

    .img-container img {

        margin: 20px;
        width: 500px;
        height: 314.48px;
       

    }

}





